{% extends "layout.jinja2" %}

{% block content %}
<div class = "row" id="detail-entry">
    <div class="form-group">
        <label class="input-header">Post Title></label>
        <input type="text" id="input-title" value="post-title">
        <div class="form">
            <label class="input-header">Entry</label>
            <textarea id="input-text"></textarea>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" value="Save">
        <input type="button" class="btn btn-default" value="Add Entry">
    </div>
</div>
{% endblock %}