{% extends "layout.jinja2" %}

{% block content %}
<div class = "row">
    <div class="col-md-10">
        { % for entry in ENTRIES % }
        <div class="row page-row">
            <h3><a href="/">{{ entry.title }}</a></h3>
            <p class="author-name">By on  {{ entry.created }}</p>
            <p class="post-body">{{ entry.text }}</p>
        </div>
        { % endfor % }
    </div>
</div>
{% endblock %}