<!DOCTYPE html>
<head>
    <title>Matt Favoino's 401 Journal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <header class="container-fluid row">
        <div class="nav-link">
            <a href="index.html">401 Learning Journal</a>
        </div>
    </header>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/journal/new-entry">New</a>
        </li>
        <li>
            <a href="#">Detail</a>
        </li>
        <li>
            <a href="#">Edit</a>
        </li>
    </ul>
    <main class="container">
        <div class="row">
            <h2>401 Learning Journal</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row pager-row">
                </div>
                <div class="row entry-row">
                    <h3><a href="detail.html">Post</h3>
                    <div class="author-name">Name</div>
                    <div class="ind-post-body">
                    This is just some text that will eventually be a body for a post. This is just some text that will eventually be a body for a post. This is just some text that will eventually be a body for a post. This is just some text that will eventually be a body for a post. This is just some text that will eventually be a body for a post. This is just some text that will eventually be a body for a post.
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="new.html"><input type="button" class="btn btn-primary" value="New Entry"></a>
            </div>
        </div>
    </main>
</body>
</html>